<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Parabéns!</title>
</head>
<body>
	<div style="text-align: center;">
		<h2>Parabéns <%= @cliente.nome %>! Você ganhou 5 horas grátis.</h2>

		<p>Ao acumular R$20,00 em acesso aos nossos computadores, você ganha 5 horas inteiramente grátis!</p>
		<p>Venha utilizar nossos serviços novamente. Avise ao administrador se deseja ou não usar suas horas adquiridas.</p>

		<br>

		<div class="center">
			<p>Agradecemos a preferência!</p>
			<p><a href="http://landafrad.herokuapp.com">Lan House - STUNA QUE EU MATO!</a></p>
		</div>
	</div>
</body>
</html>