<h1>~ STUNA QUE EU MATO ~</h1>
	
<style>

	html{
		height: 100%;
	}

	body {
		text-align: center;
		height: 90%;
	}

	h1 {
		-webkit-animation: animationFrames 0.3s linear infinite;
		animation: animationFrames 0.3s linear infinite;
		margin: 0;
		padding: 10px;
		border: 5px dashed blue;
		display: inline-block;
		font-size: 80px;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	@keyframes animationFrames{
	  0% {
	    color: red;
	    border: 2px dashed blue;
	  }
	  25% {
	    color: blue;
	    border: 3px dashed deeppink;
	  }
	  50% {
	    color: green;
	    border: 4px dashed blue;
	  }
	  100% {
	    color: red;
	    border: 5px dashed deeppink;
	  }
	}

	@-webkit-keyframes animationFrames {
	  0% {
	    color: red;
	    border: 2px dashed blue;
	  }
	  25% {
	    color: blue;
	    border: 3px dashed deeppink;
	  }
	  50% {
	    color: green;
	    border: 4px dashed blue;
	  }
	  100% {
	    color: red;
	    border: 5px dashed deeppink;
	  }
	}

	@-moz-keyframes animationFrames{
	  0% {
	    color: red;
	    border: 2px dashed blue;
	  }
	  25% {
	    color: blue;
	    border: 3px dashed deeppink;
	  }
	  50% {
	    color: green;
	    border: 4px dashed blue;
	  }
	  100% {
	    color: red;
	    border: 5px dashed deeppink;
	  }
	}
</style>