.col-centered {
    float: none;
    margin: 0 auto;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.aviso-cadastro {
	position: relative;
}

.aviso-cadastro-alert {
	position: absolute;
	top: 15%;
}