<!DOCTYPE html>
<html>
<head>
  <title>Landafrad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Alternar</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Stuna que eu mato</a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Início</a></li>
				<li><a href="/clientes/new">Cadastrar Cliente</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Login</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
<%= yield %>
</div>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="text-muted">© 2015 - Todos os Direitos Reservados</p>
			</div>

			<div class="col-md-6 text-right">
				<p class="text-muted">Desenvolvimento Ágil com Ferramenta RAD | <a href="https://github.com/evandrohcm/LanDAFRAD" target="_blank"><strong>Lan House - Stuna que eu mato</strong></a></p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
